/* base rule */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

@font-face {
   font-family: "Poppins";  
   src: url("fonts/Poppins/Poppins-Regular.ttf"); 
}

@font-face {
   font-family: "Roboto";
   src: url("fonts/Roboto/Roboto-Regular.ttf");
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-snap-type: Y mandatory;
    background-color: var(--body-color);
}
header{
    background-image: url("images/Vaishali.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 80% 80%;
    background-position: right;
}

h1,h2,h3,h4,h5,h5{
    font-family: "Poppins", "Roboto";
    color:var(--heading-color);
}

p{
    font-family: "Poppins", "Roboto";
    font-size: 1.2rem;
    color:var(--para-color);
    line-height: 2rem;
    letter-spacing: .1rem;
}

a{
  text-decoration: none;
  font-family: "Poppins", "Roboto";
}
  
li{
  list-style: none;
}

.subheading{
    font-size: 3rem;
    color:var(--heading-color);
}

.subheading2{
    font-size:2rem;
}

.heading{
    font-size: 6rem;
    color: var(--heading-color);
    font-weight: 900;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.border{
    border-bottom: 2px solid var(--red-color);
    width:50%;
}

/* theme */
:root{
    --body-color:#000;
    --heading-color:#fff;
    --para-color:#b1b5b8;
    --red-color:#d54848ee;
}

/* layout */
.grid{
    display: grid;
}

.grid-two--cols{
    grid-template-columns: repeat(2,1fr);
}

/* modules/reusable  */
.container{
    max-width:130rem;
    margin:0 auto;
    padding:3rem 2.4rem;
}

/* States */

/* navbar starts here */
.section-navbar{
}

.section-navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 2.4rem;
    & .navbar-logo h1{
        font-size: 3.6rem;
    }

    & .navbar ul{
        display: flex;
        gap:3rem;
        & li a{
            color:var(--heading-color);
            font-weight: 400;
            font-size: 1.2rem;
            display: inline-block;
            position: relative;
        }
    }
}

.section-navbar .container .navbar li a::after{
    position: absolute;
    content:'';
    border-bottom:0.2rem solid var(--red-color);
    left:0;
    width:0%;
}

.section-navbar .container .navbar li a:hover::after{
    position: absolute;
    left:0;
    top:2rem;
    width: 100%;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

/* main-section starts here */

.section-main{

}

.section-main .container{
    padding:0 2.4rem;
    height:50rem;
}

.section-main .container.grid{
    align-items: center;
}

.section-main .main-img{
    
}

.red-color{
    color:Var(--red-color);
}

/* About Section */

.section-about{
    & .about-img img{
        float:left
    }
    & .section-skills{
        color:var(--para-color);
        & .skill-set{
            margin:2rem 0;
            line-height: 3rem;
            font-size:1.5rem;
            letter-spacing: 0.2rem;
        }
    }
    & .section-experience{
        & .experience{
            margin:0 0 2rem 0;
        }
        & h3,p{
            font-size: 1.5rem;
            line-height: 3rem;
            letter-spacing: 0.2rem;
        }
    }
    & .section-education{
        & h3,p{
            line-height: 3rem;
            font-size:1.5rem;
            letter-spacing: 0.2rem;
        }
    }

}

.section-about .about-section h1{
    margin-bottom:2rem;
}

.section-about .about-nav ul{
    display: flex;
    gap:2rem;
    margin:2rem 0;
    & li a{
        color:var(--para-color);
        display: inline-block;
        position: relative;
    }

    & li a:active{
        width:50%;
    }
    & li a::after{
        content:"";
        position:absolute;
        left:0;
        top:4.5rem;
        width:0%;
        border-bottom:0.2rem solid var(--red-color);
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
    }
    & li a:hover::after{
        width:100%;
    }

    
}

/* Section-services */

.section-services{

}

.section-services .container .services{
    margin-top:2rem;
    display: flex;
    justify-content: space-around;
    width:100%;
    & .service{
        background-color: #171717;
        width:30rem;
        padding:2rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        & .fa-solid{
            color:var(--heading-color);
            font-size: 3rem;
            margin-bottom:1rem;
        }

        & h3{
            font-size: 2rem;
            margin-bottom:1rem;
        }
    }

    & .service:hover{
        background-color: var(--red-color);
        transform:translateY(-10px);
        color:var(--heading-color);
        -webkit-transform:translateY(-10px);
        -moz-transform:translateY(-10px);
        -ms-transform:translateY(-10px);
        -o-transform:translateY(-10px)
    }

    & .service:hover {
        & .fa-solid{
            color:var(--heading-color);
            font-size: 3rem;
            margin-bottom:1rem;
        }
    }
}

/* section-portfolio */

.section-portfolio .subheading{
    margin-bottom:2rem;
}

.section-portfolio .works{
    display:flex;
    gap:2rem;
    & .work{
        position: relative;
        & img{
            width:80%;
            height:auto;
            border-radius:1rem;
            -webkit-border-radius:1rem;
            -moz-border-radius:1rem;
            -ms-border-radius:1rem;
            -o-border-radius:1rem;
            transition: all 0.5s linear;  
            -webkit-transition: all 0.5s linear;        
            -moz-transition: all 0.5s linear;        
            -ms-transition: all 0.5s linear;       
            -o-transition: all 0.5s linear;  
        }
        & .layer{
            background-image:linear-gradient(to bottom,rgba(0,0,0,0.6),var(--red-color));
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
            position: absolute;
            bottom: 0rem;
            text-align:center;
            overflow: hidden;
            height: 0%;
            width: 80%;
            font-size:1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition:height 0.5s linear;
            -webkit-transition:height 0.5s linear;
            -moz-transition:height 0.5s linear;
            -ms-transition:height 0.5s linear;
            -o-transition:height 0.5s linear;
            
}
        }

        & .layer h3{
            font-weight:500;
            margin-bottom:2rem;
        }

        & .layer a{
            display: block;
            margin-top: 2rem;
            color: var(--red-color);
            text-decoration: none;
            font-size: 1.8rem;
            line-height: 4rem;
            background-color: var(--heading-color);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            height: 4rem;
            width: 4rem;
            text-align: center;
         }
}

.section-portfolio .work:hover img{
    scale:1.1;
}

.section-portfolio .work:hover .layer{
    height:100%;
    scale:1.1;
}


/* section-contact */

.section-contact .subheading{
    margin-bottom: 2rem;
}

.section-contact .contact{
    display: flex;
    gap:2rem;
    margin-bottom:1rem;
}

.section-contact .contact :is(.fa-brands,.fa-solid){
    color:var(--red-color);
    font-size: 2.5rem;
}

.section-contact .contact p a{
    color:var(--para-color)
}

button{
    margin-top:2rem;
    padding:1rem;
    border:2px solid var(--red-color);
    background-color: var(--red-color);
    border-radius:1rem ;
    
    -webkit-border-radius:1rem ;
    -moz-border-radius:1rem ;
    -ms-border-radius:1rem ;
    -o-border-radius:1rem ;
    & a{
        color:var(--body-color);
        font-weight: 700;
    }
}

.contact-form{
    & input, textarea{
        width:100%;
        padding:1rem;
        background-color: #171717;
        border-radius:0.5rem;
        -webkit-border-radius:0.5rem;
        -moz-border-radius:0.5rem;
        -ms-border-radius:0.5rem;
        -o-border-radius:0.5rem;
        margin-bottom:1rem;
        border: 1px solid #171717;
        color:var(--heading-color);
    }
    & button{
        width:10rem;
    }
}

/* Scroll bar */
::-webkit-scrollbar{
    width:1rem;
}

/* ::-webkit-scrollbar-track{
    background-color: var(--red-color);
    border-radius:2rem;;
    -webkit-border-radius:2rem;
    -moz-border-radius:2rem;
    -ms-border-radius:2rem;
    -o-border-radius:2rem;
} */

::-webkit-scrollbar-thumb{
    background-color: var(--red-color);
    border-radius:2rem;
    -webkit-border-radius:2rem;
    -moz-border-radius:2rem;
    -ms-border-radius:2rem;
    -o-border-radius:2rem;
}

/* media queries */
@media (width<=992px){
    html{
        font-size: 60%;
    }

    header{
        background-image: url("images/Vaishali.png");
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size: 50% 50%;
        background-position: right;
    }

    .section-about .about-img img{
        width:70%;
        height:70%
    }
}

@media (width<=768px){
    html{
        font-size: 45%;
    }

    .section-navbar .container{
        flex-direction: column;
        & .navbar-logo h1{
            font-size: 2.6rem;
            margin-bottom: 1rem;;
        }
    
        & .navbar ul{
            display: flex;
            gap:3rem;
            & li a{
                color:var(--heading-color);
                font-weight: 400;
                font-size: 1.2rem;
                display: inline-block;
                position: relative;
                margin-bottom: 2rem;
            }
        }
    }
    
    .section-main .container{
        flex-direction: row;
        height:50rem;
    }

    .section-about .about-img img{
        width:80%;
        height:80%
    }
}


@media(width<=571px){
    html{
        font-size: 40%;
    }

    .section-about .container.grid.grid-two--cols{
        grid-template-columns: 1fr;
    }

    .section-about .about-img img{
        width:50%;
        height: auto;
    }

    .section-services .services{
        flex-direction: column;
        gap:2rem;
    }

    .section-portfolio .works{
        display:flex;
        flex-direction: column;
    }

    .section-portfolio .works .work img{
        width:60%;
        height:auto;
        margin-bottom:2rem;
    }
    .section-portfolio .works .work .layer{
        width:60%;
        height:0%;
    }
    .section-portfolio .works .work:hover .layer{
        width:60%;
        height:100%;
        bottom:2rem;
    }

    .section-contact .container.grid.grid-two--cols{
        grid-template-columns: 1fr;
    }

    .section-contact .contacts{
        margin-bottom: 2rem;
    }

    .section-contact .contact-form{
        & input,textarea{
            width:70%
        }
    }
}
